---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {getCollection} from 'astro:content';
import {SITE_TITLE, SITE_DESCRIPTION, GLOBAL_STYLE, BIO, AVATAR_SRC} from '../consts';
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import {Card, Typo} from '@koibumi-design/solidjs'
import PostCard from "../components/PostCard.astro";

const posts = (await getCollection('blog'))
    .filter(post => post.data.pinned)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <Card variant={GLOBAL_STYLE} id="avatar-bio">
        <img src={AVATAR_SRC} alt="avatar"/>
        <section id="bio">
            <Typo emphasis={true} variant="h2">
                {SITE_TITLE}
            </Typo>
            <Typo>
                {BIO}
            </Typo>
            <div>
                <Typo>
                    <strong>
                        Contact me:
                    </strong>
                </Typo>
                <div id="contact">
                    <a class="icon-link" href="https://github.com/koibumi-design" target="_blank" aria-label="GitHub">
                        <GitHubIcon/>
                    </a>
                </div>
            </div>
        </section>
    </Card>

    <Card variant={GLOBAL_STYLE}>
        <Typo variant="h3">
            Pinned Posts
        </Typo>
    </Card>
    <section id="pinned-container">
        {
            posts.map((post) => (
                    <PostCard {...post.data} slug={post.slug}/>
            ))
        }
    </section>

</main>
<Footer/>
</body>
</html>

<style>
    main {
        max-width: 70rem;
        width: 100%;
        margin: 3rem auto;
        padding: 0 1rem;
    }

    main > * {
        margin-bottom: 2rem;
    }

    main > *:last-child {
        margin-bottom: 0;
    }

    #avatar-bio {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    #avatar-bio > img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }

    #bio {
        max-width: 20rem;
    }

    @media (max-width: 700px) {
        #avatar-bio {
            flex-direction: column;
        }

        #bio {
            max-width: 100%;
        }
    }

    #bio > p {
        line-height: 1.5;
        letter-spacing: .02rem;
    }

    #bio > * {
        margin-bottom: 0.75rem;
    }

    #bio > *:last-child {
        margin-bottom: 0;
    }

    #contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: .25rem
    }

    .icon-link {
        height: 2rem;
        width: 2rem;
    }

    #pinned-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin-top: -1.5rem;
    }
</style>