---
import Card from "./Card.astro";
import {GLOBAL_STYLE} from "@/consts";
import "@/styles/components.scss";
import '@/styles/global.scss';

interface Props {
    slug: string
    heroImage?: string
    title: string
    pubDate: Date
    description?: string
}

const {slug, heroImage, title, pubDate, description} = Astro.props

---

<Card
    class="post-card"
    variant={GLOBAL_STYLE}
>
    <a
        class='img-container'
        href={`/blog/${slug}`}
    >
        {
            heroImage === undefined ?
                (
                    <h4 class="emphasize">
                        {title}
                    </h4>
                )
                : <img src={heroImage} alt={title} loading="lazy"/>
        }
    </a>
    <h4>
        <a class="link" href={`/blog/${slug}`}>
            {title}
        </a>
    </h4>
    <p>
        {description}
    </p>
    <p class="date">
        {pubDate.toLocaleDateString()}
    </p>
</Card>

<style lang="scss">
    @use "../styles/colors.scss";

    .post-card {
        padding-bottom: 2rem;

        & > h4 {
            margin-top: 1rem;
        }
    }

    .date {
        text-align: right;
        position: absolute;
        font-size: 0.875rem;
        bottom: 0.875rem;
        right: 0.875rem;
    }

    .img-container {
        aspect-ratio: 16/9;
        overflow: clip;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & > * {
            transition: transform 0.3s ease-in-out;
        }

        & > *:hover {
            transform: scale(1.2);
        }

        &:has(h4) {
            background-color: rgba(colors.$color-slate-100, 0.5);
        }

        h4 {
            wrap-option: wrap;
        }
    }
</style>