---
import type {CollectionEntry} from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '@/components/Card.astro';
import {GLOBAL_STYLE} from "../consts";
import "../styles/article.scss"

type Props = CollectionEntry<'blog'>['data'];

const {title, description} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
</head>

<body>
<Header/>
<main>
    <Card variant={GLOBAL_STYLE}>
        <article>
            <h1 class="emphasize">
                {title}
            </h1>
            <slot/>
        </article>
    </Card>
</main>
<Footer/>
</body>
</html>
